{
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": true
    },
    "eslint.format.enable": true,
    "eslint.lintTask.enable": true,
    "eslint.validate": [
        "typescript",
        "typescriptreact"
    ],
    "explorer.autoRevealExclude": {
        "**/node_modules": true
    },
}
